body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #444;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    color: #ff6347;
}

section {
    background-color: #000000;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.section-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
}

button {
    background-color: rgb(161, 78, 0);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin: 1rem 0;
    display: inline-block;
}

button:hover {
    background-color: #a54d00;
}

.section-with-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    position: relative;
}

.section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    color: white;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
